<% provide(:title, 'About page') %>
<div id="about">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>About page</h1>
				<p>Find me in app/views/static_pages/about.html.erb</p>
			</div>
		</div>
	</div>
</div>