<% provide(:title, 'Help page') %>
<div id="help" class="header-offset">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Help page</h1>
				<p>Find me in app/views/static_pages/help.html.erb</p>
			</div>
		</div>
	</div>
</div>