<% provide(:title, 'Blog App') %>
<div id="home" class="header-offset">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Blog App</h1>
				<p>Find me in app/views/static_pages/home.html.erb</p>
			</div>
		</div>
	</div>
</div>