<% provide(:title, 'Blog App') %>

<div id="home" class="center">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Blog App</h1>
				<p>New users, click below to sign up for the blog!</p>
				<a href="#" class="btn btn-large btn-primary">Sign Up</a>
			</div>
		</div>
	</div>
</div>