<% provide(:title, 'Sign up') %>

<div id="signup">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Sign up</h1>
				<label>Username</label>
				<input type="text" name="username">
				<label>Email</label>
				<input type="text" name="email">
				<label>Password</label>
				<input type="password" name="password">
				<label>Confirm Password</label>
				<input type="password" name="password_confirm">
				<br><button class="btn btn-success">Sign up!</button>
			</div>
		</div>
	</div>
</div>