@import "bootstrap";

//global classes
.header-offset { margin-top: 60px; }

//header nav styles
#header-nav {
	#logo { display:block; position:relative; top:5px; }
}

//home page styles
#home {

}

//help page styles
#help {

}